.Homecont7 {
    font-family: "Inter", sans-serif;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}


.testimonial-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 114px;
    margin-bottom: 23px;
}

.testimonial-title h2 {
    width: 487px;
    font-weight: 500;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #022B69;
    text-align: center;

}

.testimonial-title img {
    height: 63px
}

.Left {
    margin-left: 90px;
}

.Right {
    margin-right: 97px;
}

.testimonial-dots {
    width: 13.090909004211426;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 46.2px;


}

.dot {
    width: 13.090909004211426px;
    height: 13.090909004211426px;
    border: 3px;
    border-radius: 50%;
    border: 3px solid #000000
}
.active-dot {
  background-color: #022b69;
}

.card-cont7 {
    position: relative;
    margin-top: 66px;
    margin-bottom: 324px;
}

.slanted {
    width: 237.16px;
    height: 258.48px;
    background-color: rgba(2, 43, 105, 1);
    border-radius: 39.59px;
    transform: rotate(-15deg) skewX(-25deg);
}

.kola {
    position: absolute;
    padding-top: 60px;
    padding-inline: 4px;
    top: -10px;
    bottom: 55px;
    left: 15px;
    width: 268.24px;
    height: 260.48px;
    background-color: white;
    border-radius: 39.59px;
    transform: rotate(-15deg) skewX(-25deg);
    box-shadow: 0px 0px 0.65px 0px rgba(0, 0, 0, 0.04);

    box-shadow: 0px 1.3px 3.9px 0px rgba(0, 0, 0, 0.04);

    box-shadow: 0px 6.49px 12.99px 0px rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kola h5,
.kola p {
    transform: rotate(13deg) skewX(25deg);
}

.qout {
    transform: skewX(20deg) rotate(15deg);
    margin-top: 7px;
    margin-bottom: 21.64px;
}

.kola p {
    color: rgba(83, 84, 97, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

.kola h5 {
font-weight: 500;
font-size: 16.44px;
line-height: 100%;
letter-spacing: 0%;
}

.profilePic {
    position: absolute;
    top: -18px;
    left: 100px;
    transform: skewX(20deg) rotate(15deg);
}

.personalTm {
    display: flex;
    gap: 65px;
    padding-inline: 50px;
}

/* responsiveness */
@media (max-width: 980px) {
  .testimonial-title {
    gap: 40px;
  }

  .testimonial-title h2 {
    font-size: 28px;
    width: auto;
  }

  .personalTm {
    gap: 40px;
    padding-inline: 20px;
    margin-bottom: 140px;
  }
}

@media (max-width: 768px) {
  .testimonial-title {
    margin-top: 233px;
    gap: 40px;
  }

  .testimonial-title img {
    height: 45px;
  }

  .testimonial-title h2 {
    font-size: 24px;
  }

  .personalTm {
    flex-direction: column;
    align-items: center;
    padding-inline: 0;
  }

  .card-cont7 {
    margin-bottom: 60px;
    margin: 0 auto;
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .testimonial-title h2 {
    font-size: 20px;
  }

  .Left,
  .Right {
    margin: 0;
  }

  .card-cont7 {
    transform: scale(0.9);
  }

  .dot {
    width: 10px;
    height: 10px;
  }
}







