.Homecont5{
    
 font-family: "Inter", sans-serif;

width: 100%;
max-width: 1024px;
margin: 0 auto;
background-color: #F4F8FC;

}
.Homecont5 h3{
font-weight: 600;
font-size: 36px;
line-height: 100%;
letter-spacing: 0%;
color: #022B69;
text-align: center;
padding-top: 54px;
padding-bottom: 66px;
}
.card-cont5{
    display: flex;
    gap: 16px;
    margin-right: 77px;
    margin-left: 63px;
    padding-bottom: 93px;
    /* flex-wrap: wrap; */
}

.card5{
    
    background-color: #FFFFFF;
    width: 100%;
    max-width: 434px;
    box-shadow: 0px 0px 1px 0px #0000000A;

box-shadow: 0px 0px 2px 0px #0000000F;

box-shadow: 0px 4px 8px 0px #0000000A;

border-radius: 5px;


}

.card5 h4{
font-weight: 600;
font-size: 36px;
line-height: 100%;
letter-spacing: 0%;
margin-top: 44px;
margin-bottom: 19px;
text-align: center;
color: #3D3D46;
}
.card5 h5{
font-weight: 600;
font-size: 24px;
line-height: 100%;
letter-spacing: 0%;
color: #022B69;
 margin-bottom: 27px;
 text-align: center;

}
.card5:hover {
  transform: translateY(-5px);
}

.card5 p{

  width: 381px; 
margin-right: 24px;
margin-left: 29px; 
font-weight: 400;
font-size: 18px;
line-height: 1.2;
letter-spacing: 0%;
color: #3D3D46;
text-align: center;
margin-bottom: 27px;
}

.btn5{
    background-color: #0000FF;
font-weight: 600;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
color: #FFFFFF;
padding-inline: 111px;
padding-block: 13px;
border-style: none;
border-radius: 50px;
text-align: center;
margin-right: 64px;
margin-left: 65px;
margin-bottom: 35px;
cursor: pointer;
}

.btn5:hover{
    background-color: #0052cc;
}
.span5{
font-weight: 500;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
color: #3D3D46;

}

.dropdown-header{
    cursor: pointer;
    border-Top: 1px solid #B2BED0;
    padding-Top: 27px;
    padding-Bottom:37px;
    padding-Left:29px; 
padding-right: 45.4px;
}

.with{
    display: flex;
    /* width: 354px; */
    gap: 19px;
    align-items: center;
    justify-content: center;
    margin-left: 34px;
    margin-right: 39px;
    margin-bottom: 46px;
    padding: 0 16px;


}
.with h6{
    /* max-width: 321px; */
font-weight: 400;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
color: #3D3D46;
margin: 0;
flex: 1;

}
.with img{
width: 14.819276809692383px;
height: 14.819276809692383px;
opacity: 1;
flex-shrink: 0;

}
/* responsiveness */

@media (max-width: 960px) {
  .card-cont5 {
    flex-direction: column;
    margin: 0 16px;
    padding-bottom: 60px;
  }

  .card5 {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .card5 p {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;

    font-size: 16px;
  }

  .btn5 {
    padding-inline: 40px;
    margin: 0 auto 30px auto;
    display: block;
    width: fit-content;
  }

  .dropdown-header {
    padding: 20px 16px;
  }

  .with {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 16px 30px 16px;
    gap: 12px;
  }

  .with h6 {
    width: auto;
    font-size: 15px;
  }

  .Homecont5 h3 {
    font-size: 28px;
    padding: 40px 16px 40px 16px;
  }

  .card5 h4 {
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 15px;
  }

  .card5 h5 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .span5 {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .card-cont5 {
    flex-direction: column;
    margin: 0 16px;
    padding-bottom: 60px;
  }

  .card5 {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .card5 p {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;

    font-size: 16px;
  }

  .btn5 {
    padding-inline: 40px;
    margin: 0 auto 30px auto;
    display: block;
    width: fit-content;
  }

  .dropdown-header {
    padding: 20px 16px;
  }

  .with {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 16px 30px 16px;
    gap: 12px;
  }

  .with h6 {
    width: auto;
    font-size: 15px;
  }

  .Homecont5 h3 {
    font-size: 28px;
    padding: 40px 16px 40px 16px;
  }

  .card5 h4 {
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 15px;
  }

  .card5 h5 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .span5 {
    font-size: 16px;
  }
}