.Homecont6{
font-family: "Inter", sans-serif;
width: 100%;
max-width: 1024px;
margin: 0 auto;
padding-top: 114px;
}

.invest-container{

    display: flex;
    /* justify-content: center; */
    align-items: flex-start;
   gap: 150px;
    flex-wrap: wrap;
}


.img-cont6{
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   flex: 0 0 400px;
   margin-bottom: 309px;

}


.phone{
    display: block;
    max-width: 100%;
    height: auto;
}

.phone:first-child{
    border: none;
    position: relative;
    width: 235.66355895996094px;
    border-radius: 20px;
    z-index: 3;
    height: 471px;

}

.phone:last-child{
    /* width: 180.6253662109375px; */
    position: absolute;
    left: 86%;
    transform: translateX(-50%);
    z-index: 2;
    opacity: 0.95;
    height: 361px;
    width: 180px;
   

}

.invest-cont6{
    margin-top: 67px;
   
}
.invest-cont6 h3{
font-weight: 600;
font-size: 36px;
line-height: 100%;
letter-spacing: 0%;
color: #022B69;
margin-bottom: 41px;
text-align: center;

}

.invest-cont6 p{
width: 369px;
font-family: 'Gotham Pro', sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.2;
letter-spacing: 0%;
text-align: center;
margin-bottom: 58px;
color: #022B69;

}

.store-btns{
    display: flex;
    gap: 13.57px;
    justify-content: center;
    margin-left: 50px;
    flex-wrap: wrap;
    
}

.store-btns img{
    width: 148.2615509033203px;
    height: 43.92934036254883px;
}

.store-btns img:last-child{
    object-fit: contain; 
    /* object-position: center; */
    width: 180px; 
    height: auto;
}

/* responsiveness */

@media (max-width: 900px) {
  .invest-container {
    gap: 80px;
    justify-content: center;
  }

  .img-cont6 {
    flex: 0 0 320px;
    margin-bottom: 0;
  }
  .invest-cont6 {margin-top: 0;

  }

  .phone:first-child {
    /* width: 200px; */
  }

  .phone:last-child {
    /* width: 150px; */
    /* left: 80%; */
  }

  .invest-cont6 h3 {
    font-size: 30px;
  }

  .invest-cont6 p {
    font-size: 15px;
  }
}


@media (max-width: 600px) {
  .Homecont6 {
    padding-top: 60px;
  }

  .invest-container {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .img-cont6 {
    flex: unset;
    margin-bottom: 40px;
    width: 100%;
  }

  .phone:first-child {
    width: 70%;
    max-width: 220px;
  }

  .phone:last-child {
    position: absolute;
    left: 65%;
    width: 50%;
    max-width: 160px;
  }

  .invest-cont6 {
    margin-top: 0;
  }

  .invest-cont6 h3 {
    font-size: 26px;
    margin-bottom: 25px;
  }

  .invest-cont6 p {
    font-size: 14px;
    margin-bottom: 40px;
  }

  .store-btns {
    margin-left: 0;
  }

  .store-btns img {
    width: 130px;
  }

  .store-btns img:last-child {
    width: 150px;
  }
}


@media (max-width: 400px) {
  .invest-cont6 h3 {
    font-size: 22px;
  }

  .invest-cont6 p {
    font-size: 13px;
  }

  .store-btns img {
    width: 110px;
  }

  .store-btns img:last-child {
    width: 130px;
  }
}



@media (max-width: 320px) {
  .invest-container {
    gap: 80px;
    justify-content: center;
  }

  .img-cont6 {
    flex: 0 0 320px;
    margin-bottom: 0;
  }
  .invest-cont6 {margin-top: 0;

  }
  .store-btns {
    /* margin: 0 auto; */
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}
.invest-cont6 p {
        font-size: 13px;
        width: 200px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}





