.homecont3{
    font-family: "Inter", sans-serif;
    background-color: #022B69;
     width: 100%;
max-width: 1024px;
margin: 0 auto;
padding-top: 50px;
display: flex;
gap: 185px; 

}
.img-homecont3{
    width: 293px;
    height: 293px;
    border-radius: 50%;
    overflow: hidden;
    border:  2px solid rgba(255, 255, 255, 0.3);
    background-color: #FFFFFF;
    margin-left: 52px;
    margin-bottom: 50px


;

}

.img-homecont3 img{
    width: 100%;
    height: auto;
    object-fit: contain;
}

.text-homecont3{

}

.text-homecont3 h4{
    width: 375px;
font-weight: 600;
font-size: 33px;
line-height: 1.2;
letter-spacing: 0%;
text-align: center;
color: #FFFFFF;
margin-top: 73px;
margin-right: 104px;

}
.text-homecont3 h6{
    width: 405px;
font-weight: 400;
font-size: 16px;
leading-trim: NONE;
line-height: 1.2;
letter-spacing: 0%;
text-align: center;
color: #FFFFFF;
margin-top: 25px;
margin-right: 89px;
margin-bottom: 34px;
}

.text-homecont3 p{
 width: 97px;
font-weight: 400;
font-size: 18px;
line-height: 1.2;
letter-spacing: 0%;
color: #1AD5FE;   
margin-left: 168px;


}
#Our{
width: 395px;
font-family: 'Gotham Pro', sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
color: #F8F8FD;
margin-right: 67px;
margin-bottom: 66px;
text-align: left;
margin-top: 25px;
}

