.homecont3{
    font-family: "Inter", sans-serif;
    background-color: #022B69;
     width: 100%;
max-width: 1024px;
margin: 0 auto;
padding-top: 50px;
display: flex;
gap: 185px; 

}
.img-homecont3{
    width: 293px;
    height: 293px;
    border-radius: 50%;
    overflow: hidden;
    border:  2px solid rgba(255, 255, 255, 0.3);
    background-color: #FFFFFF;
    margin-left: 52px;
    margin-bottom: 50px


;

}

.img-homecont3 img{
    width: 100%;
    height: auto;
    object-fit: contain;
}


.text-homecont3 h4{
    width: 375px;
font-weight: 600;
font-size: 33px;
line-height: 1.2;
letter-spacing: 0%;
text-align: center;
color: #FFFFFF;
margin-top: 73px;
margin-right: 104px;

}
.text-homecont3 h6{
    width: 405px;
font-weight: 400;
font-size: 16px;
line-height: 1.2;
letter-spacing: 0%;
text-align: center;
color: #FFFFFF;
margin-top: 25px;
margin-right: 89px;
margin-bottom: 34px;
}

.text-homecont3 p{
 width: 97px;
font-weight: 400;
font-size: 18px;
line-height: 1.2;
letter-spacing: 0%;
color: #1AD5FE;   
margin-left: 168px;


}
#Our{
width: 395px;
font-family: 'Gotham Pro', sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
color: #F8F8FD;
margin-right: 67px;
margin-bottom: 66px;
text-align: left;
margin-top: 25px;
}

.text-homecont3 a{
    text-decoration: none;
    color: rgba(0, 0, 255, 1);
    cursor: pointer;
}

.text-homecont3 a:hover{
    cursor: pointer;
    color: #1AD5FE;
}

.footer-btn a{
    text-decoration: none;
    color: rgba(2, 43, 105, 1);
    cursor: pointer;
}

.footer-btn a:hover{
    cursor: pointer;
    color: #1AD5FE;
}


/* Tablets (max-width: 1024px) */
@media (max-width: 1024px) {
  .homecont3 {
    gap: 100px;
    padding: 50px 30px;
  }
  .img-homecont3 {
    margin-left: 0;
  }
  .text-homecont3 h4 {
    font-size: 30px;
  }
}


@media (max-width: 768px) {
  .homecont3 {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
    padding: 40px 20px;
  }

  .img-homecont3 {
    margin: 0;
    width: 230px;
    height: 230px;
  }

  .text-homecont3 h4 {
    width: 100%;
    font-size: 26px;
    margin: 0;
  }

  .text-homecont3 h6,
  #Our {
    width: 100%;
    margin: 15px 0;
    text-align: center;
  }

  .text-homecont3 p {
    margin: 0 auto;
  }
}

/* Small phones (max-width: 480px) */
@media (max-width: 480px) {
  .img-homecont3 {
    width: 200px;
    height: 200px;
  }

  .text-homecont3 h4 {
    font-size: 22px;
  }

  .text-homecont3 h6,
  #Our {
    font-size: 14px;
  }
}







