.Homecont4{

font-family: "Inter", sans-serif;
width: 100%;
max-width: 1024px;
margin: 0 auto;
 overflow-x: hidden;

}

.Homecont4 h3{
max-width: 407px;
font-weight: 600;
font-size: 36px;
line-height: 100%;
letter-spacing: 0%;
color: #022B69;
margin-top: 116px;
margin-left: 319px;
margin-right: 298px;
margin-bottom: 18px;
word-break: break-all;

}

.Homecont4 h6{
    max-width: 395px;
font-family: 'Gotham Pro', sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
color: #3D3D46;
margin-left: 312px;
margin-right: 317px;
margin-bottom: 47px;
word-break: break-all;

}

.card-cont4{
    display: flex;
gap: 23px;
margin-bottom: 161px;
margin-top: 47px;
margin-left: 78px;
margin-right: 72px;
}
.card4{
    
    background-color:  #FFFFFF;
box-shadow: 0px 0px 1px 0px #0000000A;

box-shadow: 0px 0px 2px 0px #0000000F;

box-shadow: 0px 4px 8px 0px #0000000A;
width: 276px;
border-radius: 5px;
}


.card4 h5{
    font-family:'Gotham Pro', sans-serif;
font-weight: 700;
font-size: 24px;
line-height: 100%;
letter-spacing: 0%;
color: #022B69;
text-align: center;
margin-bottom: 31px;


}
.card4 p{
    width: 234px;
    height: 57px;
 font-family:'Gotham Pro', sans-serif;
font-weight: 400;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
color:#022B69 ;
margin-bottom: 65px;
margin-right: 17px;
margin-left: 25px;

}

.finance{
    width: 49.3380241394043px;
    height: 34.163997650146484px;
    margin-top: 30.94px;
    margin-bottom: 17.89px;
    margin-left: 90.5px;
    margin-right: 136.31px;
    
}

.swift{
    width: 43.946712493896484 px;
    height:   42.231197357177734px;
    margin-top: 25.38px;
    margin-bottom: 17.89px;
    margin-left: 102.53px;
    margin-right: 129.53px;
}

.save{
    width: 32.58333206176758px;
    height:   32.58333206176758px;
    margin-top: 34.67px;
    margin-bottom: 17.89px;
    margin-left: 125.75px;
    margin-right: 117.67px;
}
    
@media (max-width: 1024px) {
  .Homecont4 h3 {
    font-size: 32px;
  }

  .Homecont4 h6 {
    font-size: 13px;
  }

  .card-cont4 {
    gap: 23px;
  }
}


@media (max-width: 900px) {
  .card-cont4 {
    justify-content: center;
    flex-wrap: wrap;
  }
  .Homecont4 h3{

    margin-left: 79px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .Homecont4 h6{
    
    margin: 0 auto;
    padding-left: 79px;
  }


  .card4 {
    width: 45%;
    min-width: 260px;
  }
}


@media (max-width: 768px) {
  .Homecont4 {
    padding: 60px 15px;
  }

  .Homecont4 h3 {
    font-size: 28px;
  }
 .Homecont4 h3{

    margin-left: 79px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .Homecont4 h6{
    
    margin: 0 auto;
    padding-left: 79px;
  }

  .Homecont4 h6 {
    font-size: 13px;
    width: 90%;
  }

  .card-cont4 {
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-bottom: 69px;
  }

  .card4 {
    width: 85%;
    max-width: 340px;
  }
}

@media (max-width: 480px) {
  .Homecont4 {
    padding: 40px 15px;
  }

  .Homecont4 h3 {
    font-size: 22px;
    line-height: 1.3;
    margin: 0 ;
    max-width: 90%;
    text-align: center;
    word-wrap: break-word;
    margin-bottom: 15px;
  }

  .Homecont4 h6 {
    font-size: 12px;
    line-height: 1.5;
    color: #3d3d46;
    width: 100%;
    max-width: 90%;
    padding: 0 ;
    text-align: center;
    margin-bottom: 15px;
  }

  .card-cont4 {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 69px;
    margin: 0;
  }

  .card4 {
    width: 100%;
    max-width: 290px;
    padding: 25px 15px;
  }

  .card4 h5 {
    font-size: 18px;
    margin-bottom: 12px;
  }

  .card4 p {
    font-size: 13px;
    line-height: 1.4;
    width: 100%;
    max-width: 250px;
    margin: 0 auto 25px auto;
  }

  .finance,
  .swift,
  .save {
    margin: 0 auto 14px auto;
    display: block;
  }
}
