.navbar{
font-family: "Inter", sans-serif;
width: 100%;
max-width: 1024px;
margin: 0 auto;
display: flex;
justify-content: center;
align-items: center;
position: relative;
background-color: #FFFFFF;
/* padding: 14px 25px; */
position: relative;
z-index: 100;


}


.img-div img{
    max-width: 172px;
    width: 100%;
    height: auto;
    object-fit: contain;
    

}

.img-div{
    display: flex;
  align-items: center;
 margin-right: 46px;
 padding-top: 11px;
padding-bottom: 10.46px;
padding-left: 54px;  
    
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.nav-smallcont{
    max-width: 575px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 320px;
    margin-right: 12px;
    padding-top: 34px;
    padding-bottom: 33px;
     transition: all 0.3s ease-in-out;
}

.nav-links{
    max-width: 208px;
     width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 23px;
    list-style: none;
   
    
}

.nav-links li{
font-weight: 400;
font-size: 16px;
line-height: 100%;
list-style: none;
color: #0000FF;
}

.nav-smallcont p{
font-weight: 400;
font-size: 16px;
line-height: 100%;
color: #0000FF;
}

.Get{
border-radius: 50px;
background-color:#0000FF;
width: 140px;
font-weight: 600;
font-size: 14px;
color:#FFFFFF ;
padding-top: 11px;
padding-bottom: 10px;
padding-right: 29px;
padding-left: 32px;
border-style: none;
text-align: center;
margin-left: 9px;
margin-top: 24px;
margin-bottom: 24px;
margin-right: 25px;
cursor: pointer;
  transition: all 0.3s ease;
}

.nav-links a{
    text-decoration: none;
    color: rgba(0, 0, 255, 1);
    cursor: pointer;
     transition: color 0.3s ease;
}

.nav-links a:hover{
    cursor: pointer;
    color: #1AD5FE;
}
 
.login a{
    text-decoration: none;
    color: rgba(0, 0, 255, 1);
    cursor: pointer;
}

.login a:hover{
    cursor: pointer;
    color: #1AD5FE;
}


.Get a{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.Get a:hover{
    cursor: pointer;
   background-color:  #1AD5FE;
}

.menu-icon {
  
  display: none;                
  position: absolute;           
  right: 20px;                  
  top: 50%;                     
  transform: translateY(-50%);  
  z-index: 1200;                
  cursor: pointer;
  padding: 6px;                 
  border-radius: 6px;
}

.mobile-btn {
  display: none; 
}

/* responsiveness */


@media (max-width: 973px) {
  .menu-icon {
    display: block;
     align-items: center;
     margin: 0 auto;
     
  }
  
  .img-div{
    padding-left: 16px;
    display: flex;
  align-items: center;
  flex: 0 0 auto; 
  margin-right: 12px;

  }
  .navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    gap: 155px;
    position: relative;
  }

  .nav-smallcont {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #f7fafd;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    padding: 24px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-height: 400px;
    opacity: 0;
     transform: translateY(-10px); 
    pointer-events: none;
    transition: all 0.3s ease-in-out;

  }

  .nav-smallcont.active {
    max-height: 500px;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  .nav-links {
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
  }

  .Get {
    width: 100%;
    text-align: center;
    margin: 10px 0;
    display: none;
  }
  .login{
    font-size: 16px;
  }
  .Get{
    display: none;
  }
  .mobile-btn {
    display: block;
    border-radius: 50px;
    background-color: #0000ff;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    text-align: center;
  }

  .mobile-btn a {
    text-decoration: none;
    color: #ffffff;
  }
}


@media (max-width: 768px) {
  .menu-icon {
    display: block;
     align-items: center;
     margin: 0 auto;
     
  }

  .img-div{
    padding-left: 16px;
    display: flex;
  align-items: center;
  flex: 0 0 auto; 
  margin-right: 12px;

  }
  .navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    gap: 155px;
    position: relative;
  }

  .nav-smallcont {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #f7fafd;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    padding: 24px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-height: 400px;
    opacity: 0;
     transform: translateY(-10px); 
    pointer-events: none;
    transition: all 0.3s ease-in-out;

  }

  .nav-smallcont.active {
    max-height: 500px;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  .nav-links {
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
  }

  .Get {
    width: 100%;
    text-align: center;
    margin: 10px 0;
    display: none;
  }
  .login{
    font-size: 16px;
  }
  .Get{
    display: none;
  }
  .mobile-btn {
    display: block;
    border-radius: 50px;
    background-color: #0000ff;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    text-align: center;
  }

  .mobile-btn a {
    text-decoration: none;
    color: #ffffff;
  }
}


@media (max-width: 480px) {
  .img-div img {
    max-width: 120px;
    
  }
  .img-div  {
    margin-left: 16px;
    
  }
  .menu-icon {
    display: block;
    align-items: center;
    margin: 0 auto;
  }
  .navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    
  }

  .nav-links li,
  .login {
    font-size: 15px;
  }

  .Get {
    font-size: 13px;
    padding: 10px;
  }
}







