.Aboutuscont3{
font-family: "Inter", sans-serif;
width: 100%;
max-width: 1024px;
margin: 0 auto;
padding-bottom: 134px;
}

.Aboutuscont3 > h3{
font-weight: 700;
font-size: 27.67px;
line-height: 1.2;
letter-spacing: 0%;
text-align: center;
max-width:  460.363525390625px;
 color: rgba(2, 43, 105, 1);
 margin-top: 165.63px;
 margin-left: 282px;
 margin-bottom: 42.73px;
}


.Aboutuscont3 .cont3-links h3{
font-weight: 700;
font-size: 24px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(2, 43, 105, 1);
text-align: left;
margin-bottom: 15px;
margin-left: 94px;
}

.cont3-links p{
font-weight: 400;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
margin-bottom: 29px;
color: rgba(26, 213, 254, 1);
margin-left: 92px;

}
.cont3-links a{
    text-decoration: none;
    color: rgba(26, 213, 254, 1);
    cursor: pointer;
    margin-bottom: 29px;
    
}

.cont3-links a:hover{
    cursor: pointer;
    color: darkblue;
    text-decoration: underline;
}
.a{
    display: inline-block;
    margin-bottom: 29px;
    margin-left: 92px;
}

/* responsiveness */
@media (max-width: 900px) {
  .Aboutuscont3 > h3 {
    font-size: 22px;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
  }

  .cont3-links {
    padding-left: 16px;
    padding-right: 16px;
  }

  .Aboutuscont3 .cont3-links h3 {
    font-size: 20px;
    margin-left: 0;
    text-align: left;
  }

  .cont3-links p {
    font-size: 16px;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
  }

  .a {
    margin-left: 0;
    margin-right: 0;
    font-size: 16px;
    display: block;
    text-align: left;
  }
}

@media (max-width: 768px) {
  .Aboutuscont3 > h3 {
    font-size: 22px;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
  }

  .cont3-links {
    padding-left: 16px;
    padding-right: 16px;
  }

  .Aboutuscont3 .cont3-links h3 {
    font-size: 20px;
    margin-left: 0;
    text-align: left;
  }

  .cont3-links p {
    font-size: 16px;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
  }

  .a {
    margin-left: 0;
    margin-right: 0;
    font-size: 16px;
    display: block;
    text-align: left;
  }
}

@media (max-width: 480px) {
  .Aboutuscont3 > h3 {
    font-size: 18px;
    margin-top: 100px;
  }

  .cont3-links h3 {
    font-size: 18px;
  }

  .cont3-links p,
  .a {
    font-size: 14px;
  }
}