.homecont1{
    font-family: "Inter", sans-serif;
    background-color: #022B69;
     width: 100%;
max-width: 1024px;
margin: 0 auto;
display: flex;
gap: 76px;

}

.text-cont1{
    margin-left: 73px;
    margin-bottom: 164px;
    margin-top: 63px;
}

.text-cont1 h4{
font-weight: 500;
font-size: 36px;
line-height: 1.2;
color: #FFFFFF;
width: 372px;
}

.text-cont1 p{
width: 327px;
font-weight: 400;
font-size: 16px;
line-height: 1.2;
color: #FFFFFF;
margin-top: 31px;
margin-bottom: 47px;

}
.text-cont1 button{
border-radius: 50px;
background-color:#FFFFFF;
width: 184px;
font-weight: 600;
font-size: 14px;
color:#0000FF;
padding-block: 13px;
padding-inline: 32px;
border-style: none;
text-align: center;

}

.img-cont1{
    width: 100%;
    max-width: 460px;
    height: 461.6788330078125px;
    margin-top: 12px;
    margin-bottom: 0;
    margin-right: 43px;
    
    

}
.img-cont1 img{
    
    width: 100%;
    height: auto;
    max-width: 100%;
    
}


.text-cont1 a{
    text-decoration: none;
    color: rgba(0, 0, 255, 1);
    cursor: pointer;
}

.text-cont1 a:hover{
    cursor: pointer;
    color: #1AD5FE;
}