.homecont1{
    font-family: "Inter", sans-serif;
    background-color: #022B69;
     width: 100%;
max-width: 1024px;
margin: 0 auto;
display: flex;
gap: 76px;

}

.text-cont1{
    margin-left: 73px;
    margin-bottom: 164px;
    margin-top: 63px;
}

.text-cont1 h4{
font-weight: 500;
font-size: 36px;
line-height: 1.2;
color: #FFFFFF;
width: 372px;
}

.text-cont1 p{
width: 327px;
font-weight: 400;
font-size: 16px;
line-height: 1.2;
color: #FFFFFF;
margin-top: 31px;
margin-bottom: 47px;

}
.text-cont1 button{
border-radius: 50px;
background-color:#FFFFFF;
width: 184px;
font-weight: 600;
font-size: 14px;
color:#0000FF;
padding-block: 13px;
padding-inline: 32px;
border-style: none;
text-align: center;

}

.img-cont1{
    width: 100%;
    max-width: 460px;
    height: 461.6788330078125px;
    margin-top: 12px;
    margin-bottom: 0;
    margin-right: 43px;
    
    

}
.img-cont1 img{
    
    width: 100%;
    height: auto;
    max-width: 100%;
    
}


.text-cont1 a{
    text-decoration: none;
    color: rgba(0, 0, 255, 1);
    cursor: pointer;
}

.text-cont1 a:hover{
    cursor: pointer;
    color: #1AD5FE;
}




@media (max-width: 768px) {
  .homecont1 {
    flex-direction: column;           
    align-items: center;
    text-align: center;
    padding: 40px 20px;
    gap: 30px;
  }

  .text-cont1 {
    margin: 0;
  }

  .text-cont1 h4 {
    font-size: 26px;
    width: 100%;
  }

  .text-cont1 p {
    width: 100%;
    font-size: 15px;
    margin-top: 18px;
    margin-bottom: 32px;
  }

  .text-cont1 button {
    width: 160px;
    font-size: 13px;
    padding-block: 10px;
  }

  .img-cont1 {
    max-width: 280px;
    height: auto;
    margin: 0;
    margin-left: 80px;
  }
}

@media (max-width: 480px) {
  .homecont1 {
    padding: 30px 16px;
    gap: 25px;
  }

  .text-cont1 h4 {
    font-size: 22px;
  }

  .text-cont1 p {
    font-size: 14px;
  }

  .text-cont1 button {
    width: 140px;
    font-size: 13px;
  }

  .img-cont1 {
    max-width: 240px;
    margin-left: 60px;
  }
}











