
.Footer{
font-family: "Inter", sans-serif;
width: 100%;
max-width: 1024px;
margin: 0 auto;
background-color: #00164d;
overflow-x: hidden;
}


.Footer-cont1 h4{
width:342px ;
font-weight: 600;
font-size: 24px;
line-height: 1.2;
letter-spacing: 0%;
text-align: center;
color: #FFFFFF;
padding-top: 56px;
margin-left: 339px;
margin-right: 364px;
margin-bottom: 55px;
}

.footer-btn{
    width: 213px;
font-weight: 600;
font-size: 21.3px;
line-height: 100%;
letter-spacing: 0%;
border-radius: 76.07px;
background-color: #DDFA00;
padding-inline: 47px;
padding-block: 16px;
margin-right: 442px;
margin-left: 395px;
margin-bottom: 143.74px ;
border: none;

}
.foot-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: flex-start; */
    gap: 119px;
    border-top: 1px solid #1AD5FE;
    border-bottom:  solid #1AD5FE;
}
.foot-links{
    width: 615px;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap ;
    margin-top: 26.44px;
    /* margin-right: 155px; */
    /* margin-bottom: 12.56px; */


}
.font-link h6{
    font-family:'Gotham Pro', sans-serif;
font-weight: 400;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
color: #FFFFFF;
margin-bottom: 17.9px;

}
.font-link ul{
font-family: 'Gotham Pro', sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
color: #1AD5FE;
}
.footer-logo{
    width: 91px;
    height: 91px;
    margin-top: 10px;
    margin-left: 45px;
}

.font-link ul li{
    font-family: 'Gotham Pro', sans-serif; ;
    list-style: none;
    margin-bottom: 25px;
}
.footer-img{
    display: flex;
    gap: 9.99px;
}

.font-link a{
    text-decoration: none;
    color: #1AD5FE;
    cursor: pointer;
}

.font-link a:hover{
    cursor: pointer;
    color: darkblue;
}

.footer-p{
font-weight: 400;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
max-width: 985px;
color: #FFFFFF;
margin-top: 18.44px;
margin-bottom: 32px;
margin-left: 28px;
}



.started {
    position: relative;
    padding-inline: 205px;
    padding-bottom: 46px;
    background: transparent;
}

.Footer-cont1 {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.box1{
    display: flex;
}

.sqr, .sqr2 {
    height: 221px;
    width: 221px;
    display: block;
    background-color: rgba(11, 36, 52, 0.3);
;
}

.sqr2 {
    width: 206px;
   background: rgba(14, 52, 79, 0.4);

}

.rect{
    height: 106px;
    width: 427px;
     background-color: rgba(4, 22, 34, 0.3);
}

/* responsiveness */
@media (max-width: 768px) {
  .started {
    padding-inline: 40px;
  }

  .Footer-cont1 h4 {
    font-size: 20px;
    max-width: 300px;
    margin: 40px auto 25px;
  }

  .footer-btn {
    width: auto;
    margin: 0 auto 80px;
  }

  .foot-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
  }

  .footer-logo {
    margin-left: -97px;
    
  }

  .foot-links {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
    margin-left: -100px;
  }

  .font-link h6 {
    font-size: 16px;
  }

  .font-link ul li {
    font-size: 13px;
  }

  .footer-p {
    font-size: 13px;
    text-align: center;
    padding: 0 15px;
    margin: 0 auto;
  }
  .footer-img {
    display: flex;
    gap: 9.99px;
    margin-left: 72px;
}

  .sqr,
  .sqr2 {
    height: 120px;
    width: 120px;
  }

  .rect {
    width: 220px;
    height: 60px;
  }
}

@media (max-width: 480px) {
  .Footer-cont1 h4 {
    font-size: 18px;
    max-width: 280px;
  }

  .footer-btn {
    font-size: 16px;
    padding: 12px 28px;
  }

  .foot-container {
    padding: 30px 10px;
  }

  .font-link ul li {
    margin-bottom: 10px;
  }

  .footer-img img {
    width: 18px;
    height: 18px;
  }
  
  .footer-logo {
margin-left: -80px;
    
  }

  .footer-p {
    font-size: 12px;
    margin-bottom: 20px;
  }
}


@media (max-width: 320px) {
  .Footer {
    padding: 0 10px;
  }

  .Footer-cont1 h4 {
    font-size: 16px;
    line-height: 1.3;
    max-width: 280px;
    margin: 40px auto 25px;
    padding-top: 40px;
  }

  .footer-btn {
    font-size: 14px;
    padding: 10px 24px;
    width: 90%;
    max-width: 200px;
    margin: 0 auto 60px;
  }

  .foot-container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px 0;
  }

  .footer-logo {
    margin: 0 auto 20px;
  }

  
  .foot-links {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-left: 0;
  }

  .font-link {
    width: 100%;
    text-align: center;
  }

  .font-link h6 {
    font-size: 14px;
    margin-bottom: 12px;
  }

  .font-link ul li {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .footer-img img {
    width: 16px;
    height: 16px;
  }
  .footer-img {
   margin-left: 114px;
  }

  
  .footer-p {
    font-size: 11px;
    width: 100%;
    margin: 15px auto 20px;
    text-align: center;
    line-height: 1.4;
    padding: 0 5px;
  }

  
  .sqr,
  .sqr2 {
    width: 80px;
    height: 80px;
  }

  .rect {
    width: 160px;
    height: 50px;
  }
  .suite{
    width:200px;
    height: auto;
    margin-left: 57px;
  }
}


/* 
@media (max-width: 375px) {

  }
} */







