.Aboutuscont{
font-family: "Inter", sans-serif;
width: 100%;
max-width: 1024px;
margin: 0 auto;
}

.Aboutuscont h3{
font-weight: 600;
font-size: 48px;
line-height: 1.2;
letter-spacing: 0%;
text-align: center;
max-width:  584px;
margin-top: 110px;
margin-left: 172px;
color: rgba(2, 43, 105, 1);
margin-bottom: 17px;
}

.Aboutuscont p{
font-weight: 400;
font-size: 16px;
line-height: 1.2;
letter-spacing: 0%;
text-align: center;
color: rgba(61, 61, 70, 1);
max-width: 572px;
margin-left: 217px;
}

.tom-purse{
    display: flex;
    flex-wrap: wrap;
    gap: 169px;


}

.tom-text h4{
font-weight: 500;
font-size: 24px;
line-height: 1.2;
letter-spacing: 0%;
color: rgba(2, 43, 105, 1);
margin-top: 221px;
margin-left: 81px;
max-width: 255px;
margin-bottom: 31px;
}

.tom-text p{
font-family: 'Gotham Pro, san serif';
font-weight: 400;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(90, 87, 115, 1);
;
max-width: 433px;
margin-left: 78px;
max-height: 204px;
text-align: left;



}
.tom-image{
    margin-top: 80.72px;
    margin-bottom: 207.88px;
    margin-right: 192px;
}
.tom-image img{
    max-width: 472px;
    width: 100%;
    height: 474px;
}
/* responsiveness */

@media (max-width: 1030px) {
  .Aboutuscont h3 {
    font-size: 32px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .Aboutuscont p {
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .tom-purse {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .tom-text h4 {
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 40px;
  }

  .tom-text p {
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-height: none;
  }

  .tom-image {
    margin: 0 auto;
  }

  .tom-image img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }}


@media (max-width: 768px) {
  .Aboutuscont h3 {
    font-size: 32px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .Aboutuscont p {
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .tom-purse {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .tom-text h4 {
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 40px;
  }

  .tom-text p {
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-height: none;
  }

  .tom-image {
    margin: 0 auto;
  }

  .tom-image img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }}

@media (max-width: 480px) {
  .Aboutuscont h3 {
    font-size: 24px;
  }

  .Aboutuscont p {
    font-size: 13px;
  }

  .tom-text h4 {
    font-size: 18px;
  }

  .tom-text p {
    font-size: 14px;
  }
}