

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 @font-face {
  font-family: 'Gotham Pro';
  src: url('./assets/Fonts/gothampro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} 