.homecont2{
font-family: "Inter", sans-serif;
    background-color: #FFFFFF;
    width: 100%;
max-width: 1024px;
margin: 0 auto;
display: flex;
gap: 75px;

}

.text-cont2{
    margin-top: 125px;
    margin-left: 73px;
    margin-bottom: 190px;
}

.text-cont2 h4{
   max-width: 235px;
    width: 100%;
    overflow-wrap: break-word;
    word-break: normal;
font-weight: 600;
font-size: 36px;
color:#3D3D46 ;
line-height: 1.2;
margin-bottom: 14px;
 
}

.text-cont2 p{
    width: 293px;
    overflow-wrap: break-word;
    word-break: break-word;
font-weight: 400;
font-size: 16px;
color:#3D3D46 ;
line-height: 1.2;
margin-bottom: 15px;
 
}

#cont2link{
font-weight: 400;
font-size: 14px;
line-height: 100%;
color: blue;

}

.card2{
    margin-top: 75.32px;
    margin-bottom: 109px;
    margin-right: 180px;
    max-width: 398px;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 0px #0000000A;
box-shadow: 0px 2px 6px 0px #0000000A;
box-shadow: 0px 10px 20px 0px #0000000A;
box-shadow: 0px 10px 20px 0px #0000000A;

}

.flex-cont{
    max-width: 398px;
    width: 100%;
    padding-right: 20px;
    padding-left: 34px;
    padding-top: 23px;
    display: flex;
    gap: 14px;
    justify-content: flex-start;
    justify-content: center;
    
    border-bottom: 1px solid #B2BED0
}


.cont-save{
    background-color: #FFFFFF;

}

.cont-save h5{
    
width: 217px;
font-weight: 500;
font-size: 18px;
line-height: 1.2;
color: #3D3D46;
margin-bottom: 10px;

}
.cont-save p{
width: 303px;
font-weight: 400;
font-size: 14px;
line-height: 1.2;
color: #535461;
/* padding-right: 20px; */

}